<footer>
    <a href="/" class="footer-logo">
        <img class="beetle" src="assets/img/textlogo.png" alt="Beetle Labs Inc." style="height: 0.8rem">
    </a>
    <ul class="footer-links">
        <li><a href="/#services">Services</a></li>
        <li><a href="/#industries">Industries</a></li>
        <li><a href="/solutions.html">Solutions</a></li>
        <li><a href="mailto:projects@beetlelabs.tech">Contact</a></li>
    </ul>
    <div class="footer-copy">© 2026 Beetle Labs Inc. — v2.1 - Canada</div>
</footer>
